{% extends 'base.html' %}

{% block title %}Forget Password Reset{% endblock title %}


{% block body_content %}
<div style="padding-top: 50px; padding-bottom: 50px;">

    {% if messages %}
    {% for messages in messages %}
    <div class="alert alert-{{messages.tags}} alert-dismissible fade show" role="alert">
        <strong>Dear User!</strong> {{messages}}.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}

    <form style="width: 50%;margin: auto;" method="POST" action="{% url 'forget_password_reset' %}">
        {% csrf_token %}

        <div data-mdb-input-init class="form-outline mb-4">
            <input type="email" id="form3Example3" class="form-control" name="email" value="{{email}}" />
            <label class="form-label" for="form3Example3">Email</label>
        </div>

        <div data-mdb-input-init class="form-outline mb-4">
            <input type="text" id="form3Example3" class="form-control" name="otp" />
            <label class="form-label" for="form3Example3">OTP</label>
        </div>

        <div data-mdb-input-init class="form-outline mb-4">
            <input type="password" id="form3Example4" class="form-control" name="password" />
            <label class="form-label" for="form3Example4">Password</label>
        </div>

        <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block mb-4">Submit</button>

    </form>
</div>
{% endblock body_content %}