{% extends 'base.html' %}

{% block title %}Sign Up{% endblock title %}


{% block body_content %}
<div style="padding-top: 50px; padding-bottom: 50px;">
    <form style="width: 50%;margin: auto;" method="POST">
        {% csrf_token %}
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4">
            <div class="col">
                <div data-mdb-input-init class="form-outline">
                    <input type="text" id="form3Example1" class="form-control" name="first_name" />
                    <label class="form-label" for="form3Example1">First name</label>
                </div>
            </div>
            <div class="col">
                <div data-mdb-input-init class="form-outline">
                    <input type="text" id="form3Example2" class="form-control" name="last_name" />
                    <label class="form-label" for="form3Example2">Last name</label>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <div data-mdb-input-init class="form-outline">
                    <input type="text" id="form3Example1" class="form-control" name="username" />
                    <label class="form-label" for="form3Example1">Username</label>
                </div>
            </div>
            <div class="col">
                <div data-mdb-input-init class="form-outline">
                    <input type="text" id="form3Example2" class="form-control" name="display_name" />
                    <label class="form-label" for="form3Example2">Display Name</label>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <div data-mdb-input-init class="form-outline">
                    <input type="text" id="form3Example1" class="form-control" name="phone_number" />
                    <label class="form-label" for="form3Example1">Phone Number</label>
                </div>
            </div>
            <div class="col">
                <div data-mdb-input-init class="form-outline">
                    <select name="user_type" id="form3Example2" class="form-control">
                        <option value="">-----</option>
                        <option value="Recruiter">Recruiter</option>
                        <option value="JobSeeker">JobSeeker</option>
                    </select>
                    <label class="form-label" for="form3Example2">User Type</label>
                </div>
            </div>
        </div>

        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="email" id="form3Example3" class="form-control" name="email" />
            <label class="form-label" for="form3Example3">Email address</label>
        </div>

        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="password" id="form3Example4" class="form-control" name="password" />
            <label class="form-label" for="form3Example4">Password</label>
        </div>


        <!-- Submit button -->
        <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>

        <div data-mdb-input-init class="form-outline mb-4">
            <a href="{% url 'forget_password' %}">Forget Password</a>
        </div>
    </form>
</div>
{% endblock body_content %}