{% extends './profile.html' %}

{% block profile_body %}
{% if job_application %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Job</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for job_application in job_application %}
    <tr>
      <th scope="row">{{job_application.job.job_title}}</th>
      <td style="width: 10%;">{{job_application.status}}</td>
      <td style="width: 10%;">Cancel</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div style="text-align: center;">
  <h1 style="text-align: center; padding: 20px;">No Saved Job</h1>
  <a href="{% url 'list_job' %}" class="btn btn-primary" style="margin-bottom: 20px;">GO To Job List</a>
</div>
{% endif %}
{% endblock profile_body %}