{% extends 'base.html' %}

{% block title %}Add Job{% endblock title %}


{% block body_content %}
<div style="margin: auto;width: 80%; padding-top: 20px; padding-bottom: 20px;">
    <form class="row g-3" method="POST">
        {% csrf_token %}
        <div class="col-md-12">
            <label for="inputEmail4" class="form-label">Job Title</label>
            <!-- <input type="text" class="form-control" id="inputEmail4" name="job_title" value="{{job.job_title}}"> -->
            {{form.job_title}}
        </div>
        <div class="col-md-12">
            <label for="inputPassword4" class="form-label">Job Details</label>
            <!-- <textarea name="job_details" id="" cols="30" rows="10" class="form-control">{{job.job_details}}</textarea> -->
            {{form.job_details}}
        </div>

        <div class="row g-3">
            <div class="col-4">
                <label for="inputAddress" class="form-label">Vacancy</label>
                <!-- <input type="text" class="form-control" id="inputAddress" placeholder="0" name="vacancy" value="{{job.vacancy}}"> -->
                {{form.vacancy}}
            </div>
            <div class="col-4">
                <label for="inputAddress2" class="form-label">Salary</label>
                <!-- <input type="text" class="form-control" id="inputAddress2" placeholder="Salary--" name="salary" value="{{job.salary}}"> -->
                {{form.salary}}
            </div>
            <div class="col-4">
                <label for="inputAddress2" class="form-label">Employment Status</label>
                {{form.employment_status}}
                <!-- <select name="employment_status" class="form-control" id="">
                    {% if job.employment_status %}
                    <option value="{{job.employment_status}}">{{job.employment_status}}</option>
                    {% else %}
                    <option value="" disabled selected>-----</option>
                    {% endif %}
                    <option value="Full Time">Full Time</option>
                    <option value="Part Time">Part Time</option>
                    <option value="Remote">Remote</option>
                </select> -->
            </div>
        </div>

        <div class="row g-3">
            <div class="col-6">
                <label for="inputAddress2" class="form-label">Gender Allow</label>
                {{form.gender_allow}}
            </div>
            <div class="col-6">
                <label for="inputAddress2" class="form-label">Application Deadline</label>
                {{form.application_deadline}}
            </div>
        </div>
        
        {% if job %}
        <div class="col-12  g-3">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
        {% else %}
        <div class="col-12  g-3">
            <button type="submit" class="btn btn-primary">Add Job</button>
        </div>
        {% endif %}
        
    </form>
</div>
{% endblock body_content %}