<div class="row">
    <div class="mt-4 pt-2 col-lg-12">
        <nav aria-label="Page navigation example">
            <div class="pagination job-pagination mb-0 justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" href="#"><i
                            class="mdi mdi-chevron-double-left fs-15"></i></a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item">
                    <a class="page-link" href="#"><i class="mdi mdi-chevron-double-right fs-15"></i></a>
                </li>
            </div>
        </nav>
    </div>
</div>